@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* @font-face {
    font-family: 'Sakal Marathi';
    src: url(../src/assets/fonts/SakalMarathi-Normal.woff);
}

div {
    font-family: 'Sakal Marathi';
} */

* {
    outline: none;
}

:focus {
    box-shadow: none !important;
}

/* ::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #faf4f2;
}

::-webkit-scrollbar-thumb {
    background: #4E3431;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
} */

section.homepageback {
    background-image: url(../src/assets/homeicons/Homeback.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 70px;
    padding-bottom: 70px;
}

section.homepageback111 {
    margin-top: 140px;
    background: #faf4f2;
    padding-top: 70px;
    padding-bottom: 70px;
}

section.homepageback h1 {
    font-size: 26px;
    font-family: 'Poppins';
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;
    color: #4E3431;
    line-height: 1.5;
    margin-bottom: 0px;
}

.form-controlss.row {
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 80px;
    position: relative;
    margin-left: 0px;
    margin-right: 0px;
}

.form-controlss.row .form-control {
    border: solid #4E3431 2px !important;
    border-radius: 100px;
}

.form-controlss.row .col-lg-6 {
    position: relative;
}

.searchh {
    position: absolute;
    top: 0px;
    border-radius: 100px;
    right: 10px;
    background: #4E3431;
    color: white;
    justify-content: center;
    width: 40px;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.boxes.row {
    background: #F4D3B1;
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 10px;
    margin-bottom: 35px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.maincontent.row {
    justify-content: space-between;
    align-items: center;
}

.maincontent.row a {
    text-decoration: none;
}

.boxes.row h6 {
    text-transform: capitalize;
    font-size: 13px;
    font-family: 'Poppins';
    font-weight: 800;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: black;
    margin-bottom: 0px;
}

.boxes.row a {
    color: #000000B2;
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 600;
    letter-spacing: -0.015em;
    margin-bottom: 0px;
    margin-top: 5px;
}

.boxes.row img {
    margin-left: auto;
    display: block;
    width: 100%;
    object-fit: contain;
    height: 50px;
    margin-right: auto;
}

section.resourcesss {
    background: #F0E8E6;
    padding-top: 40px;
    padding-bottom: 40px;
}

section.resourcesss h2 {
    font-size: 24px;
    font-family: 'Poppins';
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 30px;
}

.boxes1.row p {
    color: #798EA4;
    margin-top: 5px;
    font-size: 25px;
    font-family: 'Poppins';
    font-weight: 700;
    letter-spacing: 0em;
    margin-bottom: 0px;
}

.boxes1.row {
    margin-bottom: 21px;
    align-items: center;
    margin-top: 20px;
}

.boxes1.row h6 {
    color: #2B3545;
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 700;
    letter-spacing: 0em;
    margin-bottom: 0px;
}

section.resourcesss .row {
    justify-content: space-evenly;
}

.boxes1.row img {
    width: 100%;
}

.membersss.row {
    background: #FFFFFF;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 35px;
    align-items: center;
}

.membersss.row img {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.membersss.row h6 {
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 700;
    font-family: 'Poppins';
    letter-spacing: 0em;
    color: black;
    text-align: left;
}

.membersss.row p {
    color: black;
    font-family: 'Poppins';
    margin-bottom: 0px;
    font-size: 12px;
    text-align: left;
    font-weight: 500;
    letter-spacing: 0em;
}

.membersss11.row {
    background: #FFFFFF;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 35px;
    align-items: center;
}

.membersss11.row img {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.membersss11.row p {
    color: black;
    margin-bottom: 0px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0em;
}

.membersss11.row h6 {
    text-align: center;
    margin-bottom: 0px;
    font-size: 13px;
    font-weight: 600;
    font-family: 'Poppins';
    line-height: 1.4;
    letter-spacing: 0em;
    color: #091D32;
    margin-left: 10px;
    margin-right: 10px;
}

img.memberimage {
    height: 50px;
    width: 50px;
    object-fit: contain;
}

.councilmembersas.row {
    align-items: center;
}

section.searchdetails {
    background: #FAF4F2;
    padding-top: 40px;
    padding-bottom: 40px;
}

section.searchdetails h3 {
    font-family: 'Poppins';
    font-size: 22px;
    font-weight: 600;
    line-height: 1.5;
    color: #4E3431;
    letter-spacing: 0em;
    text-align: center;
}

section.searchdetails h3 span {
    color: #CC7722;
}


div.demo_list {
    border-left: 4px solid #4E3431;
    padding: 1px 12px;
    background-color: #F1F1F1;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    width: 80%;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.demo_list h4 {
    margin-top: 5px;
    margin-bottom: 7px;
}

.demo_list h4 a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: #4E3431;
    letter-spacing: 0em;
    line-height: 1.5;
    margin-bottom: 0px;
    font-family: 'Poppins';
}

span.demo_list_inner {
    background-color: #F1F1F1;
    width: 17%;
    float: left;
    text-align: center;
    height: 44px;
    display: flex;
    justify-content: center;
}

span.demo_list_inner a {
    font-size: 14px;
    color: #990000;
    text-decoration: none;
    font-weight: bold;
    padding: 12px;
}

nav.navbar.navbar-expand-sm.navbar-light img {
    display: none;
}

nav.navbar.navbar-expand-sm.navbar-light {
    background: #faf4f2;
    padding-top: 0px;
    padding-bottom: 10px;
}

.headerlogos {
    background: #faf4f2;
    border-bottom: solid #4E3431 1px;
}

img.loginbg {
    width: 100%;
}

.midhead.row {
    align-items: center;
    justify-content: space-between;
}

.search-home .form-control {
    width: 100%;
    border: solid #4E3431 2px !important;
    border-radius: 100px;
}

.search-home {
    position: relative;
}


.search-home i.fa.fa-search {
    top: 0px;
    justify-content: center;
    align-items: center;
    height: 40px;
    display: flex;
    width: 40px;
    position: absolute;
    right: 0px;
    border-radius: 100px;
    background-color: #4e3431;
    outline: none;
    border: none;
    padding: 2px 0px;
    margin: auto;
    cursor: pointer;
    color: white;
}


.nav-link {
    color: #4E3431 !important;
    font-family: 'Poppins' !important;
    font-size: 15px !important;
    font-weight: 600 !important;
}

.topheader {
    background: #4E3431;
    padding: 10px 0px;
}

.topheaderright {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.topheaderright a {
    text-decoration: none;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0px;
    color: white;
}

.languagechanges.dropdown button {
    background: transparent;
    border: none;
    text-decoration: none;
    padding: 0px 15px;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0px;
    color: white;
}

a.dropdown-item {
    color: #990000;
    font-weight: 500;
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    background-color: #0a58ca00 !important;
    border-color: #ffffff00 !important;
}

.dropdown-menu {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.font-size button {
    font-family: 'Poppins';
    border: none;
    padding: 5px 8px;
    font-size: 15px;
    letter-spacing: 0em;
    text-align: center;
    background: transparent;
}

.font-size {
    border-radius: 20px;
    background: white;
    border: solid #121f29 2px;
    margin-right: 10px;
    padding: 0px 5px;
    border: solid #121f29 2px;
}

.footer {
    text-align: center;
    padding-top: 20px;
    background: #4e3431;
    padding-bottom: 20px;
    border: 1px solid #4E3431;
}

.thirdfooter a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    color: white;
    padding-left: 10px;
    font-family: 'Poppins';
    padding-right: 10px;
}

.firstfoot a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    color: white;
    font-family: 'Poppins';
    padding-left: 10px;
    padding-right: 10px;
}

.secondfoot a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Poppins';
    text-align: center;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.secondfoot {
    margin-top: 10px;
    margin-bottom: 10px;
}

.offcanvas {
    background: #faf4f2 !important;
}

.librarysidebar h3 {
    background-color: #4E3431;
    padding: 20px 15px;
    font-size: 16px;
    color: white;
    text-transform: capitalize;
    font-family: 'Poppins';
    font-weight: 500;
    letter-spacing: 0px;
    margin-bottom: 0px;
}

.librarypage .row {
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;
}

.librarysidebar ul li {
    list-style: none;
    background-color: white;
    position: relative;
}

.librarypage {
    background: #faf4f2;
}

.librarysidebar ul {
    padding-left: 0px;
}

.librarysidebar ul li a {
    text-decoration: none;
}

.librarysidebar li {
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 1px 0px;
}

.librarysidebar {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 4px 0px;
}

.librarysidebar ul a {
    text-decoration: none;
    color: #000;
}

i.fa.fa-chevron-right.icon-calender {
    font-size: 14px;
    position: absolute;
    top: 22px;
    right: 10px;
    color: #4E3431;
}

.librarycontent h1 {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    color: #4e3431;
}

.librarycontent hr {
    opacity: 1;
    border-color: #4e3431;
    width: 10%;
    border-width: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    border-radius: 20px;
}

p.library {
    font-size: 15px;
    line-height: 1.8;
    margin-top: 30px;
    text-align: justify;
    font-weight: 500;
}

.librarycontent {
    padding-left: 40px;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #4e3431 !important;
}


.aboutuspage {
    background: #faf4f2;
    padding-top: 40px;
    padding-bottom: 40px;
}

.aboutcontent h1 {
    display: inline-block;
    font-size: 25px;
    font-weight: 700;
    color: #4e3431;
    position: relative;
    padding-bottom: 5px;
}

.aboutcontent hr {
    opacity: 1;
    border-color: #4e3431;
    width: 10%;
    border-width: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    border-radius: 20px;
}

.aboutcontent1 h2 {
    font-size: 25px;
    font-weight: 700;
    color: #4e3431;
}

.aboutcontent1 hr {
    opacity: 1;
    border-color: #4e3431;
    width: 15%;
    border-width: 5px;
    margin-top: 5px;
    border-radius: 20px;
}

.hrline {
    position: absolute;
    bottom: -5px;
    left: 0px;
    border-radius: 100px;
    width: 100%;
    height: 5px;
    background: #4e3431;
    opacity: 1;
}

.aboutcontent {
    position: relative;
    text-align: center;
    margin-bottom: 50px;
}

.aboutvidhan h1 {
    display: inline-block;
    font-size: 25px;
    font-weight: 700;
    color: #4e3431;
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 30px;
}

.aboutvidhan p {
    font-size: 15px;
    line-height: 1.8;
    text-align: justify;
    font-weight: 500;
}

button.pdf-btn .fa {
    margin-left: 10px;
    position: relative;
    top: 1px;
}

button.pdf-btn {
    background: #4e3431;
    align-items: center;
    display: flex;
    margin-top: 20px;
    padding: 15px 40px;
    border: aliceblue;
    color: white;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
}

hr.lineabcd {
    margin-bottom: 35px;
    margin-top: 35px;
    border-style: dashed;
    width: 100%;
    border-color: #4e3431;
    opacity: 1;
    border-width: 1.5px;
}

.reverse.aboutcontent1.row {
    flex-direction: row-reverse;
}

.aboutuspage .row {
    align-items: center;
}

.aboutvidhan.aboutcontent1 {
    padding-left: 35px;
}

.aboutvidhan.aboutcontent2 {
    padding-right: 35px;
}

.aboutcontent1.row {
    padding-top: 20px;
    padding-bottom: 20px;
}

.dbox .icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #4e3431;
    margin: 0 auto;
    margin-bottom: 20px;
}

.dbox .icon span {
    font-size: 20px;
    color: #fff;
}

.contactcontent h1 {
    display: inline-block;
    font-size: 25px;
    font-weight: 700;
    color: #4e3431;
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 30px;
}

.contactcontent hr {
    opacity: 1;
    border-color: #4e3431;
    width: 15%;
    border-width: 5px;
    margin-top: 5px;
    border-radius: 20px;
}

.contactcontent {
    position: relative;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 30px;
}

.contactpage {
    background: #faf4f2;
}

.text span {
    font-size: 18px;
    font-weight: 700;
    color: #4e3431;
}

.text p {
    margin-top: 10px;
    font-size: 15px;
    line-height: 1.8;
    font-weight: 500;
    color: #212529;
}

.text a {
    color: #212529;
    text-decoration: none;
}

table.table-lightt.table thead th {
    background-color: #4e3431;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
}

table.table-lightt.table.table-bordered td {
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 20px;
    padding: 15px;
}

table.table-ligneww.table td {
    border: 1px solid #8a8a8a !important;
    border: none;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 20px;
    padding: 15px;
}

section.debatelogo {
    background: #fff;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-top: 20px;
}

section.debatelogo .row {
    align-items: center;
}

a.gobackss .fa {
    margin-right: 5px;
}

a.gobackss {
    color: #000;
    font-size: 15px;
    font-weight: 600;
}

table.table-lightt.table.table-bordered {
    margin-top: 15px;
}

section.debatedetails {
    padding-bottom: 30px;
    padding-top: 30px;
    background: #faf4f2;
}




table.debate-light.table.table-bordered thead th {
    background-color: #4e3431;
    border: solid #4e3431 1px;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
}

table.debate-light.table.table-bordered td {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.5;
    padding: 15px;
    border: solid #4e3431 1px;
}

table.debate-light.table.table-bordered {
    margin-top: 15px;
    text-align: center;
    vertical-align: middle;
}

.debatepage.container-fluid {
    background: #faf4f2;
}

td.imagee img {
    width: 30px;
}

td.imagee .fa-eye {
    font-size: 15px;
    color: #4e3431;
    position: relative;
    top: 5px;
}

.debatepage.container-fluid {
    background: #faf4f2;
    padding-top: 40px;
    padding-bottom: 40px;
}

.debate-search {
    border: 1px solid #000000;
    background: #F5F5F5;
    padding: 30px 25px;
}

table.debate-light.table.table-bordered p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.searchboxx .form-control {
    border: 2px solid #4E3431;
    border-radius: 0px;
}

.searchboxx {
    display: flex;
}

button.searchb .fa-search {
    position: relative;
    top: -1px;
}

button.searchb {
    border: none;
    color: white;
    font-size: 20px;
    width: 60px;
    background: #4e3431;
}

button.startover {
    width: 15%;
    margin-left: 20px;
    text-align: center;
    border: solid #000000 1px;
}

.breadvrumbss-inner {
    background: #E6E9ED;
    border: 1px solid #000000;
    display: flex;
    align-items: center;
}

.breadvrumbss-inner p {
    margin-bottom: 0px;
}

.breadvrumbss {
    margin-top: 30px;
    margin-bottom: 30px;
}

.countdebate {
    text-align: center;
    border: 1px solid #CC7722;
    background: #CC7722;
    color: white;
    padding: 15px 50px;
    margin-right: 8%;
}

.countdebate span {
    font-size: 15px;
    font-weight: 400;
}

.breadvrumbss-inner p {
    font-size: 16px;
    font-weight: 500;
}

.breadvrumbss .row {
    align-items: center;
    justify-content: space-between;
}

.countdebate img {
    width: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.debate-right select {
    border: 1px solid #000000;
    background: #F5F5F5;
    padding: 10px 15px;
    margin-right: 10px;
    color: #999999;
}

.debate-right {
    text-align: right;
}

span.sorting img {
    position: relative;
    width: 20px;
    top: -2px;
}

span.sorting {
    background: #ffffff;
    border: 1px solid #000000;
    padding: 11px;
}

.filters {
    border: 1px solid #000000;
    background: white;
}

.firstfilter {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 0px;
}

.firstfilter h3 {
    color: #CC7722;
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 0em;
    margin-bottom: 30px;
}

.firstfilter .form-control {
    margin-bottom: 20px;
}

.firstfilter h4 {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
}

.filsss.accordion .accordion-body {
    padding: 0px 0px 0px 0px;
}

button.accordion-button {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 700;
}

.accordion-button:not(.collapsed) {
    background-color: #ffffff !important;
    box-shadow: none !important;
}

button.accordion-button {
    font-family: 'Poppins';
    font-size: 16px;
    padding: 15px 0px;
    font-weight: 700;
}

.accordion-item {
    border: none !important;
}

.datacheck {
    padding: 10px 0px;
    border-bottom: solid #DDDDDD 1px;
    display: flex;
    justify-content: space-between;
}

.datacheck1 {
    padding: 10px 0px;
    border-bottom: solid #DDDDDD 1px;
    display: flex;
    justify-content: space-between;
}

.datacheck1 {
    border-bottom: none !important;
}

.accordion-button:focus {
    border-color: #4e3431 !important;
}

.datacheck label {
    color: #999999;
}

.datacheck1 label {
    color: #999999;
}

.datacheck input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border: solid #4e3431 1px;
}

.datacheck1 input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border: solid #4e3431 1px;
}


.form-check-input:checked[type=checkbox] {
    --bs-form-check-bg-image: none !important;
}

.form-check-input:checked {
    background-color: #4e3431 !important;
    border-color: #4e3431 !important;
}

.jiMOeR {
    z-index: 9;
}

.filters hr {
    opacity: 1;
    border-style: dashed;
    color: #000000;
}

.formbutton {
    padding: 10px 10px 20px 10px;
    display: flex;
    justify-content: space-between;
}

button.apply {
    border: 1px solid #CC7722;
    background: #CC7722;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: white;
    padding: 7px 15px;
    line-height: 2;
}

button.reset {
    border: 1px solid #CC7722;
    background: #ffffff;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: #990000;
    padding: 7px 15px;
    line-height: 2;
}








































/* New Header Css */

.newheadercolor {
    background: #CC7722;
    padding: 10px 0px;
}

section.homepageback.new1 {
    background-image: url(../src/assets/newhomeicons/back.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 70px;
    padding-bottom: 70px;
}

section.homepageback.new1 h1 {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    line-height: 1.5;
    margin-bottom: 0px;
}

.homepageback.new1 .form-control {
    border: solid #0077B6 3px !important;
}

.homepageback.new1 .searchh {
    background: #0077B6;
}

.homepageback.new1 .boxes.row {
    background: #E6F1F6;
}

.homepageback.new1 .membersss11.row {
    background: #F4ECE3;
}

.homepageback.new1 .membersss.row {
    background: #F4ECE3;
}

section.resourcesss.new11 .boxes1.row p {
    color: #0077B6;
    font-size: 30px;
}

.newfooter {
    text-align: center;
    padding-top: 20px;
    background: #0077B6;
    padding-bottom: 20px;
    border: 1px solid #0077B6;
}

.active.pagess.paginationnn {
    color: white;
    background: rgba(204, 119, 34, 1);
    border: 1px solid rgba(204, 119, 34, 1);
}

.pagess {
    padding: 10px 20px;
}

button.right {
    padding: 10px 15px;
    border: solid black 1px;
    background: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

span.ellipsis {
    padding: 5px 15px;
    border: solid black 1px;
    background: white;
}

button.left {
    padding: 10px 15px;
    border: solid black 1px;
    background: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.paginationnn.pagess {
    background: white;
    border: solid black 1px;
}

.pagination {
    margin-top: 40px;
    justify-content: center;
    cursor: pointer;
}









/* New Header2 Css */

.otherColor {
    background: #990000;
    padding: 10px 0px;
}

section.homepageback.new2 {
    background-image: url(../src/assets/newhomeicons/back.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 70px;
    padding-bottom: 70px;
}

section.homepageback.new2 h1 {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    line-height: 1.5;
    margin-bottom: 0px;
}

.homepageback.new2 .form-control {
    border: solid #000088 3px !important;
}

.homepageback.new2 .searchh {
    background: #000088;
}

.homepageback.new2 .boxes.row {
    background: #ffffff;
    border: solid #990000 3px;
}

.homepageback.new2 .membersss11.row {
    background: #E9E9F9;
}

.homepageback.new2 .membersss.row {
    background: #E9E9F9;
}

section.resourcesss.new22 .boxes1.row p {
    color: #990000;
    font-size: 30px;
}

.otherColor12 {
    text-align: center;
    padding-top: 20px;
    background: #000088;
    padding-bottom: 20px;
    border: 1px solid #000088;
}

.secondfilter {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0px;
    padding-bottom: 20px;
}

.filsss1.accordion button.accordion-button {
    font-size: 15px;
    font-weight: 400;
    padding-right: 15px;
    padding-left: 15px;
    letter-spacing: 0em;
    color: #797979;
    background: #FBFBFB;
    border: solid #D6E4EC 1px;
    border-radius: 10px;
}

.secondfilter .accordion-item {
    margin-bottom: 20px;
}

.filsss1.accordion .accordion-body {
    padding: 0px;
}

button.advanced {
    color: #CC7722;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 0px;
    background: transparent;
    border: white;
    position: relative;
}

.iconss {
    font-size: 40px;
    position: absolute;
    right: 0;
    top: -19px;
}

.filsss1.accordion {
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

select.secondfilers {
    margin-top: 5px;
    padding: 10px 15px;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    padding-right: 15px;
    padding-left: 15px;
    letter-spacing: 0em;
    color: #aeadad;
    background: #FBFBFB;
    border: solid #D6E4EC 1px;
    border-radius: 10px;
}

.daterange.row .form-control {
    margin-bottom: 5px;
}

.daterange.row label {
    margin-bottom: 10px;
    color: #999999;
}

button.apply1 {
    border: 1px solid #CC7722;
    background: #CC7722;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: white;
    padding: 4px 14px;
    line-height: 2;
    margin-top: 35px;
}